amqp==5.2.0
attrs==21.4.0
billiard==4.2.0
bleach==4.1.0
bump2version==1.0.1
bumpversion==0.6.0
celery==5.3.6
Cerberus==1.3.4
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.4
dnspython==2.1.0
docutils==0.18.1
eventlet==0.33.0
idna==3.3
importlib-metadata==4.10.0
iniconfig==1.1.1
keyring==23.5.0
kombu==5.3.4
packaging==21.3
paho-mqtt==1.6.1
pkginfo==1.8.2
pluggy==1.0.0
prompt-toolkit==3.0.43
py==1.11.0
Pygments==2.11.2
pyparsing==3.0.6
pytest==6.2.5
pytest-runner==5.3.1
python-dateutil==2.8.2
readme-renderer==32.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
six==1.16.0
toml==0.10.2
tqdm==4.62.3
twine==3.7.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==1.26.8
vine==5.1.0
wcwidth==0.2.12
webencodings==0.5.1
zipp==3.7.0
